<%= form_for(@image_object) do |f| %>
  <% if @image_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_object.errors.count, "error") %> prohibited this image_object from being saved:</h2>

      <ul>
      <% @image_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :private %><br>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
