<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image_object.filename %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image_object.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_object.user_id %>
</p>

<%= link_to 'Edit', edit_image_object_path(@image_object) %> |
<%= link_to 'Back', image_objects_path %>
