<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Zeroday</th>
      <th>O contract</th>
      <th>Honeypot</th>
      <th>Firewall</th>
      <th>Active firewall</th>
      <th>Activate honeypot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.zeroday %></td>
        <td><%= item.o_contract %></td>
        <td><%= item.honeypot %></td>
        <td><%= item.firewall %></td>
        <td><%= item.active_firewall %></td>
        <td><%= item.activate_honeypot %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
