<p id="notice"><%= notice %></p>

<p>
  <strong>Zeroday:</strong>
  <%= @item.zeroday %>
</p>

<p>
  <strong>O contract:</strong>
  <%= @item.o_contract %>
</p>

<p>
  <strong>Honeypot:</strong>
  <%= @item.honeypot %>
</p>

<p>
  <strong>Firewall:</strong>
  <%= @item.firewall %>
</p>

<p>
  <strong>Active firewall:</strong>
  <%= @item.active_firewall %>
</p>

<p>
  <strong>Activate honeypot:</strong>
  <%= @item.activate_honeypot %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
