<p id="notice"><%= notice %></p>

<p>
  <strong>Str:</strong>
  <%= @tag_object.str %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tag_object.image_id %>
</p>

<%= link_to 'Edit', edit_tag_object_path(@tag_object) %> |
<%= link_to 'Back', tag_objects_path %>
