<h1>Max Dobeck's Word Ladder</h1>
<p>Look at the starting word.  Change that word by altering 1 letter.  Now repeat that until you have reached the goal word.</p>
<br>
<%#=hidden_field_tag(:step0, method: "get", :value => params[:start_word])%>
<%=form_tag(check_path, method:"get") do%>
 <%=label_tag(:step1, "Step 1:")%>
 <%=text_field_tag(:step1)%>

 <%=label_tag(:step2, "Step 2:")%>
 <%=text_field_tag(:step2)%>
 
 <%=label_tag(:step3, "Step 3:")%>
 <%=text_field_tag(:step3)%>

 <%=label_tag(:step4, "Step 4:")%>
 <%=text_field_tag(:step4)%>

 <%=label_tag(:step5, "Step 5:")%>
 <%=text_field_tag(:step5)%>

 <%=submit_tag("Check Answer")%>
<%end%>
