<%=link_to "Play Again?",root_path%>

<h3>Your Guesses:</h3>
<p><%="Start: #{@start_word}"%></p>
<p><%="Step 1: "%> <i><%="#{@step1}"%></i></p>
<p><%="Step 2: "%> <i><%="#{@step2}"%></i></p>
<p><%="Step 3: "%> <i><%="#{@step3}"%></i></p>
<p><%="Step 4: "%> <i><%="#{@step4}"%></i></p>
<p><%="Step 5: "%> <i><%="#{@step5}"%></i></p>
<p><%="End: #{@end_word}"%></p>

<%if @win_state == false%>
 <h2><%="You lost!"%></h2>
<%else%>
<h2><%="You won!"%></h2>
<%end%>
