<p id="notice"><%= notice %></p>
<h1>Signup Page</h1>
<div class="signup-wrapper">
  <%= form_for(@user) do |f| %>
    <div>
      <%= f.label :Username %>
      <%= f.text_field :name %>
    </div>
  
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Create Account" %>
<% end %>
</div>
