<h2>HQ <%= Time.now.strftime("%m/%d %H%M%Z") %> </h2>

<table>
  <caption>Operatives</caption>
  <tr>
    <td>Name</td>
    <td>Status</td>
    <td>Skill</td>
    <td>Job</td>
  </tr>
  <% @operatives.each  do |operative|%>
    <tr>
      <td><%= operative.name %></td>
      <td><%= operative.status %></td>
      <td><%= operative.skill %></td>

      <% if operative.status != "deployed" %>
        <td>-</td>
      <% else %>
        <td><%= operative.job_id %></td>
      <% end %>

      <% if operative.status == "injured" or operative.status == "mia" %>
        <td><%= link_to 'Dispose', operative, method: :delete, data: {confirm: "An explosive device in #{operative.name}'s body will be activated.  The operative will be reduced to a fine mist. This will also destroy all records related to #{operative.name}.  Dispose of #{operative.name}?" } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<table>
  <caption>Items</caption>
  <tr>
    <td>Zero-days</td>
    <td>Operative Contracts</td>
    <td>Firewalls</td>
    <td>Honeypots</td>
  </tr>
    <tr>
      <td><%= current_user.zeroday %></td>
      <td><%= current_user.o_contract %></td>
      <td><%= current_user.firewall %></td>
      <td><%= current_user.honeypot %></td>
    </tr>
</table>

<table>
  <caption>Active Defenses</caption>
  <tr>
    <td>Firewalls</td>
    <td>Honeypots</td>
  </tr>
    <tr>
      <td><%= current_user.active_firewall %></td>
      <td><%= current_user.active_honeypot %></td>
    </tr>
</table>

<%= render "activate_firewall" %>
