<h1><%= current_user.name %>'s assets</h1>
<table>
  <caption class="operative-table-head">Operatives</caption>
  <tr>
    <td>Name</td>
    <td>Status</td>
    <td>Skill</td>
    <td>Job</td>
    <td>Return Time</td>
  </tr>
  <% @operatives.each  do |cur_operative|%>
    <tr>
      <% if !cur_operative.new_record? %>
      <td><%= cur_operative.name %></td>
      <td><%= cur_operative.status %></td>
      <td><%= cur_operative.skill %></td>

      <% if cur_operative.status != "deployed" %>
        <td><%= link_to "New Job",  edit_operative_path(cur_operative), :method => :get %></td>
      <% else %>
        <td><%= cur_operative.job_id %></td>
      <% end %>

      <td><%= cur_operative.return_time %></td>
      
      <% if cur_operative.status == "injured" or cur_operative.status == "mia" %>
        <td><%= link_to 'Dispose', cur_operative, method: :delete,data: {confirm: "Sever all ties and destroy all records of #{cur_operative.name}?" }  %></td>
      <% end %>
      
      <% if cur_operative.status != "injured" and cur_operative.status != "mia" %>
        <td><%= link_to 'Fire', cur_operative, method: :delete,data: {confirm: "Release #{cur_operative.name} from contract?" } %></td>
      <% end %>
    </tr> 
    <% end %>
  <% end %> 
</table>

<table>
  <caption class="item-table-head">Items</caption>
  <tr>
    <td>Zero-days</td>
    <td>Operative Contracts</td>
    <td>Firewalls</td>
    <td>Honeypots</td>
  </tr>
    <tr>
      <td><%= current_user.zeroday %></td>
      <td><%= current_user.o_contract%></td>
      <td><%= current_user.firewall %></td>
      <td><%= current_user.honeypot %></td>
    </tr>
</table>

<table>
  <caption class="defense-table-head">Active Defenses</caption>
  <tr>
    <td>Firewalls</td>
    <td>Honeypots</td>
  </tr>
    <tr>
      <td><%= current_user.active_firewall %></td>
      <td><%= current_user.active_honeypot %></td>
    </tr>
</table>

<% if current_user.firewall  > 0 %>
  <%= render "activate_firewall" %>
<% end %>
<% if current_user.o_contract  > 0 %>
  <%= render "operatives/activate_operative" %>
<% end %>
<% if current_user.honeypot  > 0 %>
  <%= render "activate_honeypot" %>
<% end %>
