<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Payout</th>
      <th>Reward</th>
      <th>Difficulty</th>
      <th>Description</th>
      <th>Time to complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.payout %></td>
        <td><%= job.reward %></td>
        <td><%= job.difficulty %></td>
        <td><%= job.description %></td>
        <td><%= job.time_to_complete %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>
