<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Payout:</strong>
  <%= @job.payout %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @job.reward %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @job.difficulty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Time to complete:</strong>
  <%= @job.time_to_complete %>
</p>

<table>
  <caption class="operative-table-head">Operatives</caption>
  <tr>
    <td>Name</td>
    <td>Skill</td>
    <td>XP to Skill Up</td>
  </tr>
  <% @operatives.each  do |cur_operative|%>
    <tr>
      <% if cur_operative.status == 'idle' && !cur_operative.new_record? %>
        <td><%= cur_operative.name %></td>
        <td><%= cur_operative.skill %></td>
        <td><%= cur_operative.xp %></td>
        <td><%= link_to "Send Operative", {:controller => "operatives", :action => "update", :id => cur_operative.id, :job_id => @job.id}  %></td>
      <% end %>
    </tr> 
  <% end %> 
</table>
<br>

<%= link_to 'Back', jobs_path %>
