<!DOCTYPE html>
<html>
<head>
  <title>Finalproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<strong><%= current_user.name %></strong>
<%= link_to 'log out', logout_path %> | 
<%= link_to 'edit account', edit_user_path(current_user) %>
<ul class="nav">
  <li><%= link_to 'Home', user_path(current_user) %></li>
  <li><%= link_to 'Jobs', breaches_path %></li>
  <li><%= link_to 'Breaches', breaches_path %></li>
  <li><%= link_to 'Items', breaches_path %></li>
  <li><%= link_to 'Market', breaches_path %></li>
</ul>

<%= yield %>

</body>
</html>
