<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  Description:<br>
  <%= @topic.description %>
</p>

<table id="references">
  <tr>
    <th>Reference</th> 
    <th>Creation Time</th> 
  </tr>

  <% @topic.references.each do |reference| %>
    <tr>
      <td><%= reference.url  %><br>
      <p id = "description"><%= reference.description %></td></p>
      <td><%= reference.created_at %></td>
      <td><%= link_to 'Destroy', reference, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
