<p id="notice"><%= notice %></p>

<h1>Listing Image User Objects</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_user_objects.each do |image_user_object| %>
      <tr>
        <td><%= image_user_object.image_id %></td>
        <td><%= image_user_object.user_id %></td>
        <td><%= link_to 'Show', image_user_object %></td>
        <td><%= link_to 'Edit', edit_image_user_object_path(image_user_object) %></td>
        <td><%= link_to 'Destroy', image_user_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image user object', new_image_user_object_path %>
