<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_user_object.image_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_user_object.user_id %>
</p>

<%= link_to 'Edit', edit_image_user_object_path(@image_user_object) %> |
<%= link_to 'Back', image_user_objects_path %>
