
<%= image_tag(@image.filename)  %>

<p>
  <strong>Image Owner:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Tags:</strong>
  <br>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
        <%= tag.str  %>
        <% if user_signed_in? %>
          <% if current_user.id == @image.user_id %>
            <%= link_to 'Edit', edit_tag_path(tag)  %> |
            <%= link_to 'Destroy', tag, method: :delete, data: {confirm: 'Delete this tag?'}  %>
          <% end %>
        <% end %>
        <br>
      <% end %>
    <% end %>
</p>

<% if user_signed_in? %>
  <% if current_user.id == @image.user_id %>
    <p>
      <strong>New Tag:</strong>
      <%= render 'tags/form' %>
    </p>
  <% end %>
<% end %>

<p>
<strong>Access List:</strong>
</p>
  <% if @accesslist.length == 0 %>
    <%= "There's no one here!  Make your image private to add someone to your list!" %>
  <% else %>
    <% @accesslist.each do |imageuser|  %>
        <% if imageuser.user_id != nil %>
          <p>
            <%= User.find(imageuser.user_id).name  %>
            <%= link_to 'Destroy', imageuser, method: :delete, data: {confirm: "Remove #{User.find(imageuser.user_id).name} from the Access List?"} %>
          </p> 
        <% end %>
    <% end %>
  <% end %>

<% if @image.private == true %>
  <%= render 'image_users/accesslist' %> 
<% end %>

<% if @image.private == true %>
  <p>Image is: <strong><%= "Private"  %></strong></p>
<% else %>
  <p>Image is: <strong><%= "Public"  %></strong></p>
<% end %>

<p>
<% if user_signed_in? %>
  <% if current_user.id == @image.user_id %>
    <%= render 'privacytoggle' %>
  <% end %>
<% end %>
    
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
