<p id="notice"><%= notice %></p>

<%= image_tag(@image.filename)  %>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>Image Owner:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
