
<%= image_tag(@image.filename)  %>

<p>
  <strong>Image Owner:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Tags:</strong>
  <br>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
        <%= tag.str  %>
        <% if user_signed_in? %>
          <% if current_user.id == @image.user_id %>
            <%= link_to 'Edit', edit_tag_path(tag)  %> |
            <%= link_to 'Destroy', tag, method: :delete, data: {confirm: 'Delete this tag?'}  %>
          <% end %>
        <% end %>
        <br>
      <% end %>
    <% end %>
</p>

<% if user_signed_in? %>
  <% if current_user.id == @image.user_id %>
    <p>
      <strong>New Tag:</strong>
      <%= render 'tags/form' %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>



<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
