<%= form_for(@operative) do |f| %>
  <% if @operative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operative.errors.count, "error") %> prohibited this operative from being saved:</h2>

      <ul>
      <% @operative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :skill %><br>
    <%= f.number_field :skill %>
  </div>
  <div class="field">
    <%= f.label :deployment_time %><br>
    <%= f.time_select :deployment_time %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
