<p id="notice"><%= notice %></p>

<h2>Listing Breaches</h2>

<div class="table_wrapper">
<table>
  <thead>
    <tr>
      <th class="succ-breaches-th">Successful Breaches</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breaches.each do |breach| %>
      <tr>
        <% if breach.breached == true  %>
          <td><%= User.find(breach.target_id).name %> <%= breach.created_at.strftime("%m-%d-%y") %></td>
          <td><%= link_to 'View Results', breach_url(breach) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="failed-breaches-th">Failed Breaches</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breaches.each do |breach| %>
      <tr>
        <% if breach.breached == false  %>
          <td><%= User.find(breach.target_id).name %> <%= breach.created_at.strftime("%m-%d-%y") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="enemy-breaches-th">Failed Enemy Breaches</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enemy_list.each do |enemy| %>
      <tr>
        <% if Breach.find(enemy.id).breached == false %>
          <td><%= enemy.name %> <%= enemy.created_at.strftime("%m-%d-%y") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="enemy-breaches-th">Successful Enemy Breaches</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enemy_list.each do |enemy| %>
      <tr>
        <% if Breach.find(enemy.id).breached == true %>
          <td><%= enemy.name %> <%= enemy.created_at.strftime("%m-%d-%y") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Enemies To Breach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= for i in 0..current_user.zeroday %>
          <%= User.find(id:rand(1..User.last.id).name %>
        <% end %>
      </tr>
  </tbody>
</table>

</div>

<br>

<% if current_user.zeroday > 0 %>
  <%= link_to 'New Breach', new_breach_path %>
<% else %>
  <p>You need a Zero-day item to start a breach </p>
<% end %>
