<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @breach.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @breach.integer %>
</p>

<p>
  <strong>Target:</strong>
  <%= @breach.target_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @breach.integer %>
</p>

<%= link_to 'Edit', edit_breach_path(@breach) %> |
<%= link_to 'Back', breaches_path %>
