<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= User.find(@breach.target_id).name %>
</p>

<p>
  <strong>Breach Started:</strong>
  <%= @breach.created_at %>
</p>

<p>
  <strong>Breach Successful?</strong>
  <%= @breach.breached %>
<p>

<p>
  <strong>Recovered Assets</strong>
  $<%= @breach.cash_stolen %>
  Z<%= @breach.z_stolen %>
  C<%= @breach.o_contract_stolen %>
  H<%= @breach.honeypot_stolen %>
  F<%= @breach.firewall_stolen %>
</p>

<%= render 'users/claim_stolen_assets' %>
<%= link_to 'Back', breaches_path %>
