<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= User.find(@breach.target_id).name %>
</p>

<p>
  <strong>Breach Started:</strong>
  <%= @breach.created_at %>
</p>

<p>
  <strong>Breach Successful?</strong>
  <%= @breach.breached %>
<p>

<p>
  <strong>Recovered Assets</strong>
  $<%= @cash_stolen %>
  Z<%= @z_stolen %>
  C<%= @o_contract_stolen %>
  H<%= @honeypot_stolen %>
  F<%= @firewall_stolen %>
</p>

<%= link_to 'Back', breaches_path %>
